<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sukses</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/datatables.min.css" />
    <link rel="stylesheet" href="/css/selectize.css" />
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/datatables.min.js"></script>
    <script src="/js/data.js"></script>
    <script src="/js/selectize.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div th:replace="fragments/fragment :: header"></div>
<div class="col-md-10">
    <h2>Sukses!</h2>
    <h4 th:text="'Mahasiswa dengan NPM ' + ${selectStudent} +' Berhasil Lulus'"></h4>
</div>
</body>
</html>